{% extends "header.html" %}

{% block body %}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#python" aria-controls="python" role="tab" data-toggle="tab">Python</a></li>
    <li role="presentation"><a href="#javascript" aria-controls="javascript" role="tab" data-toggle="tab">JavaScript</a></li>
    <li role="presentation"><a href="#database" aria-controls="database" role="tab" data-toggle="tab">Data Base</a></li>
    <li role="presentation"><a href="#places" aria-controls="places" role="tab" data-toggle="tab">Interesting places</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="python">

    <ol>
      {% for topic in TOPIC_DICT["Python"] %}
        <li>{{topic[0]}}</li>
        <ul>
          {% for theme in topic[1] %}
          <li><a href="{{ theme[1] }}">{{ theme[0] }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </ol>

  </div>
  <div role="tabpanel" class="tab-pane fade" id="javascript">JS crap here</div>
  <div role="tabpanel" class="tab-pane fade" id="database">DB staff here</div>
  <div role="tabpanel" class="tab-pane fade" id="places">Some usefull links shoud land here</div>
</div>

{% endblock %}