 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Middlezation</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
</head>
<header>

	<div class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img style="max-width:50px; margin-top:-8px;" src="{{ url_for('static', filename='images/mainlogo.png') }}">
				</a>
				</div>
			<a href="/dashboard/">
				<button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 10px; margin-bottom: 5px; height: 44px; margin-right: 15px">
					<span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Become Middle
				</button>
			</a>

			<ul class="nav navbar-nav navbar-right">
	        <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;" class="container-fluid">
	        	<h5>
	        		<a href="/support-donate/"> <span class="glyphicon glyphicon-heart"></span> Поддержать проект&nbsp;&nbsp;&nbsp;</a>
	        		<a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Войти&nbsp;&nbsp;&nbsp;</a>
	        		<a href="/register/"><span class="glyphicon glyphicon-pencil"></span> Зарегистрироваться</a>
	        	</h5>
			</div>
		</ul>
		</div>
    </div>
</header>
<body>

	<div class="container-fluid" style="min-height: 100%;">

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	{% block body %}{% endblock %}

	</div>


	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>





</body>
</html>
